alias ls='exa'
alias l='ls'
alias la='ls -a'
alias ll='ls -la'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

alias cls='clear'
alias pip3='python3 -m pip'

alias pwndbg='gdb -x /usr/share/pwndbg/gdbinit.py'
alias gef='gdb -x /usr/share/gef/gef.py'
alias hashcat='hashcat --potfile-disable'

alias qemu='qemu-system-x86_64 -display sdl'
alias kvm='qemu -enable-kvm'
