alias ls='ls --color=auto'
alias l='ls'
alias la='ls -a'
alias ll='ls -la'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

alias john='flatpak run com.openwall.John'
alias openvas='sudo docker run -d -p 443:443 --name openvas mikesplain/openvas'
