mkcd()
{
	mkdir -p "$1" && cd "$1"
}

gclonecd()
{
	git clone "$1" && cd "$1"
}

clr()
{
	cat /dev/null > "$1"
}

cfstart()
{
    sudo systemctl start wg-quick@cf-warp
}

cfstop()
{
    sudo systemctl stop wg-quick@cf-warp
}

cfstatus()
{
    systemctl status wg-quick@cf-warp
}

tpsv()
{
    termpair serve --port "$1"
}

tprun()
{
    termpair share --port "$1" --cmd /bin/tcsh
}
