mkcd()
{
	mkdir -p "$1" && cd "$1"
}

gclonecd()
{
	git clone "$1" && cd "$1"
}

clr()
{
	cat /dev/null > "$1"
}

cfstart()
{
    sudo systemctl start wg-quick@cf-warp
}

cfstop()
{
    sudo systemctl stop wg-quick@cf-warp
}

tprun()
{
    pipx run termpair share --host "http://localhost/" --port 8000 --cmd /bin/tcsh
}
